<style>
  .container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100%;
    max-width: 800px;
    margin: 24px auto;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    padding: 24px;
  }

  .greetings {
    font-size: 24px;
    color: #141414;
    font-weight: 400;
  }

  .info-text {
    margin: 24px 0 48px 0;
    color: #5a5a5a;
  }

  .btn {
    border: 0;
    padding: 16px 32px;
    background: #01cc56;
    text-decoration: none;
    color: #121214;
    border-radius: 4px;
  }

  .error {
    margin: 48px 0 0 0;
    color: #5a5a5a;
  }

  .team {
    color: #5a5a5a;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" />
  <div class="box">
    <span class="greetings">Olá, {{name}}!</span>

    <br />

    <p class="info-text">
      Uma solicitação para mudança de senha foi solicitada para a sua conta
      na RentX.
    </p>

    <center>
      <a href="{{link}}" class="btn">Trocar senha</a>
    </center>

    <p class="error">
      Se você não fez esta solicitação, contate nosso time
      <a href="mailto:support@rentx.com">support@rentx.com</a>
    </p>

    <p class="team">
      Obrigado,<br />
      Equipe RentX.
    </p>
  </div>
</div>